<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use This Site To Get Your weather</p>
        </div>

        
        <p>{{errorMessage}}</p>
        
        {{>footer}}
    </body>
</html>